<div class='container' id= 'Index'>
<h1>Your Grocery List</h1>
<p>
  Are you tired of complicated Grocery List Apps?
Let’s keep it simple. Because you don’t have the time for complicated.
</p>
<%= link_to 'Create Your List', lists_path, class: 'btn btn-success' %>
</div>
