@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datetimepicker";
@import "items";

h1, h2 {
  font-family: Roboto;
}

#task-form {
  margin:10px 0;
  background: rgba(0, 50, 200, 0.5);
  padding: 10px 10px 5px;
}

a {
  text-decoration: none;
  font-family: Roboto;
}

a:hover {
  background: none;
  text-decoration:line-through;
  color: #336699;
}

h5, p {
  font-family: Roboto;
}
