#List {
  background-color: #c4c4c4;
}

#Index {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), image-url('shot-through-the-heart-564600-unsplash.jpg');
  color: white;
  background-repeat: no-repeat;
  background-size: 100% 726px;
}
